/****************************************
*    override bootstrap styles here     *
*****************************************/

/* CSS Variables -- Palette and Styles */
:root {
    --primary-white: #ffffff;
    --primary-pink: #fb3f5c;
    --p-textgrey-color: #68747f;
    --h-textblack-color: #1d2e3f;
}
