{
  "parser":"babel-eslint",
    "rules": {
      "semi": 2,
      "no-unused-expressions": ["warn", {
         "allowTaggedTemplates": true,
         "allowShortCircuit": true,
         "allowTernary": true
        }]
    },
    "env": {
      "es6": true,
      "browser": true
    },
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "extends": [
       "standard"
    ],
    "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
    }
  }