<div id="faq" class="faqdiv">
  <div class="faq">
    <h1>Frequently Asked Questions</h1>
    <hr />
    <p class="accordion">How do I get a laptop</p>
    <div class="panel">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s when an unknown printer took a galley of type
      and scrambled it to make a type specimen book it has.
    </div>

    <p class="accordion">How do I get a loan</p>
    <div class="panel">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s when an unknown printer took a galley of type
      and scrambled it to make a type specimen book it has.
    </div>

    <p class="accordion">How do I invest in this platform</p>
    <div class="panel">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s when an unknown printer took a galley of type
      and scrambled it to make a type specimen book it has.
    </div>

    <p class="accordion">
      How do I get a laptop
    </p>
    <div class="panel">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s when an unknown printer took a galley of type
      and scrambled it to make a type specimen book it has.
    </div>

    <p class="accordion">
      How do I get a loan
    </p>
    <div class="panel">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s when an unknown printer took a galley of type
      and scrambled it to make a type specimen book it has.
    </div>

    <p class="accordion">
      How do I invest in this platform
    </p>
    <div class="panel">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s when an unknown printer took a galley of type
      and scrambled it to make a type specimen book it has.
    </div>
  </div>
</div>