<template id="footer">
  <footer>
    <!-- top section----- -->
    <div class="wide-container">
      <div class="footer-top">
        <div class="footer-top-1">
          <ul>
            <li>
              <h1>FundMy<span class="footer-top-color">Laptop</span></h1>
            </li>
            <li>
              <p>info@fundmylaptop.com</p>
            </li>
            <li>
              <p>12345 67890</p>
            </li>
            <div class="footer-icons">
              <a href="#" data-navigo="">
                <img src="https://res.cloudinary.com/dytnzt4jf/image/upload/v1592431707/Facebook_epztwm.png" alt="facebook icon"></a>
              <a href="#" data-navigo="">
                <img src="https://res.cloudinary.com/dytnzt4jf/image/upload/v1592430002/Instagram_rts1mp.png" alt="instagram icon"></a>
              <a href="#" data-navigo="">
                <img src="https://res.cloudinary.com/dytnzt4jf/image/upload/v1592431827/twitter_y2z4io.png" alt="twitter icon"></a>
            </div>
          </ul>
        </div>
  
        <div class="footer-top-2">
          <ul>
            <li>
              <h1>Take a loan</h1>
            </li>
            <li><a href="#" data-navigo="">Take a loan</a></li>
            <li><a href="#" data-navigo="">Loan fee &amp; interest rate</a></li>
            <li><a href="#" data-navigo="">Loan EMI Calculator</a></li>
            <li><a href="#" data-navigo="">How to apply for a loan</a></li>
          </ul>
        </div>
  
        <div class="footer-top-3">
          <ul>
            <li>
              <h1>Invest</h1>
            </li>
            <li><a href="#" data-navigo="">Invest your money</a></li>
            <li><a href="#" data-navigo="">Invest fee &amp; return rate</a></li>
            <li><a href="#" data-navigo="">How to invest</a></li>
          </ul>
        </div>
  
        <div class="footer-top-4">
          <ul>
            <li>
              <h1>About us</h1>
            </li>
            <li><a href="#" data-navigo="">Why choose FundMyLaptop</a></li>
            <li><a href="#" data-navigo="">How P2P lending works</a></li>
            <li><a href="/about" data-navigo="">About FundMyLaptop</a></li>
            <li><a href="/contact" data-navigo="">Contact us</a></li>
          </ul>
        </div>
      </div>
      <!-- bottom section----- -->
      <div class="footer-bottom">
        <p class="copyright">
          2020 © Copyright All rights reserved&gt;
        </p>
        <p><a href="/faq" data-navigo="">FAQ</a></p>
        <p><a href="/privacy-policy" data-navigo="">Privacy Policy</a></p>
        <p>
          <a href="/terms-and-conditions" data-navigo="">Terms &amp; Conditions</a>
        </p>
      </div>
    </div>
  </footer>
</template>